body{
    margin:0;
    font-family:Arial;
}

header{
    background:#0b3c5d;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    background:linear-gradient(rgba(11,60,93,0.85), rgba(11,60,93,0.85)),
    url('../images/hero.jpg');
    color:white;
    padding:150px 8%;
    text-align:center;
}

.btn{
    background:#e63946;
    padding:12px 25px;
    color:white;
    text-decoration:none;
    border-radius:30px;
}

.products-preview{
    padding:80px 8%;
    text-align:center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    padding:20px;
    border-radius:10px;
}

.card img{
    width:100%;
    border-radius:8px;
}

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:12px 20px;
    border-radius:30px;
    text-decoration:none;
}
